.navbar-2 {
  font-family: "Roboto", sans-serif;
  background-color: #777;
  color: white;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;

  .navbar2-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
    font-size: 10px;

    svg {
      margin-right: 2px;
      font-size: 12px;
    }
  }
}

@media (max-width: 768px) {
  .navbar-2 {
    font-size: 12px;

    .navbar2-items {
      font-size: 12px;

      svg {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 576px) {
  .navbar-2 {
    font-size: 10px;

    .navbar2-items {
      font-size: 10px;

      svg {
        font-size: 12px;
      }
    }
  }
}
