.app-container {
  display: grid;
  grid-template-columns: 1fr;

  .content {
    padding: 20px;
    background-color: #555;
    min-height: 100vh;

    .admin-title {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      color: #222;
      text-shadow: 0 8px 4px rgba(0, 0, 0, 0.3);
      &:hover {
        filter: brightness(1.3);
      }
    }

    .admin-description {
      font-size: 0.8rem;
      color: #eee;
      text-align: center;
      line-height: 1.5;
      margin: 20px auto;
      max-width: 700px;
      padding: 15px 25px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
      }
    }
  }

  // Media Queries
  @media (min-width: 768px) {
    grid-template-columns: 200px 1fr;
    height: 100vh;

    .content {
      .admin-title {
        font-size: 2.5rem;
      }
    }
  }

  @media (min-width: 1024px) {
    grid-template-columns: 250px 1fr;

    .content {
      .admin-title {
        font-size: 3rem;
      }
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
