$primary-color: black;
$secondary-color: white;
$font-size-large: 2.5rem;
$font-size-medium: 1.5rem;
$font-weight-light: 500;
$icon-size: 2.5rem;
$spacing-large: 2rem;
$spacing-extra-large: 6rem;

.menu-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $secondary-color;
  z-index: 1000;
  padding: $spacing-extra-large $spacing-large;
  font-size: $font-size-large;
  animation: fadeIn 0.9s ease-in-out;
}

.icon-menu-closed {
  position: absolute;
  top: $spacing-large;
  right: $spacing-large;
  font-size: $icon-size;
  cursor: pointer;
}

.links-pages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10rem;

  .link {
    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $primary-color;
      font-weight: $font-weight-light;
      font-weight: bold;
    }

    a:hover {
      color: #777;
    }

    .arrow-link {
      transition: transform 0.3s ease;
    }
  }
  a:hover .arrow-link {
    transform: rotate(90deg);
  }
}

.icon-marques {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .marque {
    display: flex;
    align-items: center;
    font-size: $font-size-medium;
    color: $primary-color;

    svg {
      margin-right: 0.5rem;
    }
  }
}

/* Media queries */
@media (min-width: 1024px) {
  .menu-container {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0;
    transform: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .icon-menu-closed {
    display: none;
  }

  .links-pages {
    flex-direction: row;
    margin-bottom: 0;

    li {
      a {
        font-size: $font-size-medium;
      }
    }
  }

  .icon-marques {
    margin-top: 0;
    flex-direction: row;
  }
}
