$primary-color: white;
$background-image: url("../../assets/img/hero-jordan.jpg");
$background-size: cover;
$background-position: center;
$background-repeat: no-repeat;
$font-size-large: 2.5rem;
$font-size-medium: 1.2rem;
$text-shadow: 0 10px 5px black;

.hero-content {
  background-image: $background-image;
  background-size: $background-size;
  background-position: $background-position;
  background-repeat: $background-repeat;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.hero-title {
  color: $primary-color;

  h1 {
    font-size: $font-size-large;
  }

  p {
    font-size: $font-size-medium;
  }
}

.hero-description {
  color: $primary-color;
  text-shadow: $text-shadow;

  p {
    font-size: $font-size-medium;
  }
}
