.sidebar {
  .sidebar-menu {
    cursor: pointer;
    background-color: #333;
    display: block;
    font-size: 1.5em;
    color: white;
    padding: 0.3em;
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #333;

    .sidebar-link {
      color: white;
      padding: 0.3em;
      text-decoration: none;
      transition: background-color 0.3s;
      background-color: #444;
      margin: 5px 0;

      &:hover {
        background-color: #555;
      }

      &.active {
        background-color: #222;
      }
    }

    &.close {
      max-height: 0;
    }

    &.open {
      max-height: 500px;
    }
  }
}
