$primary-color: #333;
$secondary-color: white;
$accent-color: rgba(255, 255, 255, 0.7);
$transition-duration: 0.5s;
$footer-padding: 1rem;

.footer {
  background-color: $primary-color;
  color: $secondary-color;

  &-container {
    padding: $footer-padding;
  }

  &-section {
    padding: $footer-padding;
    border-bottom: 1px solid $secondary-color;

    .rubrique {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
    }
  }

  &-rubrique-title {
    cursor: pointer;
  }

  &-sous-rubrique {
    display: block;
    opacity: 1;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height $transition-duration ease,
      opacity $transition-duration ease;
    color: $accent-color;

    &-hidden {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height $transition-duration ease,
        opacity $transition-duration ease;
    }
  }

  &-plus {
    color: $secondary-color;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &-items {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &-bottom {
    margin-top: 1rem;
    text-align: center;
  }
}

.footer-links-utils {
  color: $secondary-color;
  text-decoration: none;
  font-size: 0.875rem;
  &:hover {
    text-decoration: underline;
  }
}

.social-media {
  display: flex;

  .social-icon {
    margin-right: 1rem;
    color: $secondary-color;
    font-size: 1.5rem;

    &:hover {
      opacity: 0.8;
    }
  }
}

.footer {
  font-size: 0.875rem;

  .footer-section {
    font-size: 0.875rem;
  }

  .footer-rubrique-title {
    font-size: 1rem;
  }

  .footer-plus {
    font-size: 1.25rem;
  }

  .footer-items {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) {
  .footer {
    font-size: 1rem;

    .footer-section {
      font-size: 1rem;
    }

    .footer-rubrique-title {
      font-size: 1.25rem;
    }

    .footer-plus {
      font-size: 1.5rem;
    }

    .footer-items {
      font-size: 1rem;
    }
  }

  .social-icon {
    font-size: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .footer {
    font-size: 1.125rem;

    .footer-section {
      font-size: 1.125rem;
    }

    .footer-rubrique-title {
      font-size: 1.5rem;
    }

    .footer-plus {
      font-size: 1.75rem;
    }

    .footer-items {
      font-size: 1.125rem;
    }
  }

  .social-icon {
    font-size: 2rem;
  }
}
