$primary-color: black;
$secondary-color: #777;
$font-size-large: 2rem;
$font-size-medium: 1.2rem;
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$font-weight-light: 500;
$highlight-color: #3498db;

.wrapper {
  position: relative;
}

.navbar-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-small;

  .logo {
    font-size: 2.5rem;
    margin-left: 10px;
    color: $primary-color;
    font-weight: $font-weight-light;
    text-decoration: none;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: $spacing-medium;

    .search-icon,
    .menu-icon,
    .user-icon,
    .panier-icon {
      display: flex;
      font-size: $font-size-large;
      color: $primary-color;
      cursor: pointer;

      &.show {
        color: $highlight-color;
      }
    }
  }
}

.navbar-2 {
  background-color: $secondary-color;
  font-size: $font-size-medium;
  padding: $spacing-small;
  text-align: center;

  p {
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;

    .navbar2-icon {
      font-size: 1.5rem;
      margin-right: 0.5rem;
      color: $primary-color;
    }

    .delivery-text {
      font-weight: bold;
      margin-right: 0.3rem;
    }
  }
}
