$primary-color: #333;
$highlight-color: #f1c40f;
$spacing-small: 10px;
$spacing-medium: 20px;

.navbar-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  color: $primary-color;
  padding: $spacing-medium;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 2rem;
    font-weight: bold;
    margin-left: $spacing-small;
    color: $primary-color;
    text-decoration: none;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: $spacing-small;

    .search-icon,
    .menu-icon,
    .user-icon,
    .panier-icon {
      display: flex;
      font-size: 2rem;
      color: $primary-color;
      cursor: pointer;

      &.show {
        color: $highlight-color;
      }
    }
  }
}

.wrapper {
  position: relative;
  margin-top: 70px;
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .icons {
    gap: $spacing-medium;
  }
}

@media (min-width: 1024px) {
  .navbar-1 {
    padding: $spacing-medium;
  }

  .menu-icon {
    display: none !important;
  }

  .icons {
    margin-right: 30px;
  }
}
