.search-container {
    position: fixed;
    top: 0;
    width: 100%;
    left: -100%;
    height: 100vh; 
    background-color: white;
    padding: 3rem 1rem;
    opacity: 0;
    transition: 0.4s ease-in-out;
    z-index: 1000;
}

.search-container.show {
    opacity: 1;
    left: 0;
    transition: 0.4s ease-in-out;
}

.search-container input {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid var(--grisClair);
    border-radius: 5px;
}

.search-container button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid var(--grisClair);
    border-radius: 5px;
    margin-left: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

.search-container button:hover {
    background-color: var(--grisClair);
    color: white;
}

.search-container h2 {
    font-size: 2rem;
    margin: 1rem 0;
    color: gray;
    font-weight: 400;
}
